@page "/"

<div class="container">
    
    <h1>Sorting</h1>

    Sorting - arranging items in order — is the most fundamental task in computation. Sorting enables efficient searching algorithms such as binary search.

    <div class="row mt-3">
        <div class="col-lg-4">
            <div class="card border-primary mb-3">
                <div class="card-header">Sorting method</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Selection sort</h5>
                    <p class="card-text">Repeatedly pick the smallest element to append to the result.</p>
                    <a href="/calculate" class="btn btn-primary">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-success mb-3">
                <div class="card-header">Sorting method</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Insertion sort</h5>
                    <p class="card-text">Repeatedly add new element to the sorted result.</p>
                    <a href="/calculate" class="btn btn-success">Calculate</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-info mb-3">
                <div class="card-header">Sorting method</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Bubble sort</h5>
                    <p class="card-text">Repeatedly compare neighbor pairs and swap if necessary.</p>
                    <a href="/calculate" class="btn btn-info">Calculate</a>
                </div>
            </div>
        </div>
    </div>
    
    <img src="/img/methods.jpg" class="rounded shadow-lg w-100 mb-3" style="max-width: 800px; margin: 0 auto; display: block;">
</div>